*{
    box-sizing: border-box;
}
:root {
    --purpleColor: #320141;
    --lightPurpleColor: #B800BE;
    --cyanColor: #44BBA4;
    --lightBrownColor: #EBB9DF;
}
body {
    background: linear-gradient(90deg, var(--purpleColor) 0%, var(--lightPurpleColor) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    height: 50px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    height: fit-content;
}

/* Style the topnav links */
.topnav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

/* Change color on hover */
.topnav a:hover {
    background-color: var(--lightPurpleColor);
    color: white;
    border-radius: 10px;
}

li {
    font-family: cursive;
    font-weight: bold;
    list-style: none;
    padding: 12px;
    font-size: 20px;
}

.threeQuotas {
    padding: 20px !important;
}

.quotas {
    padding: 20px;
    width: 950px;
    margin: 0 auto;
}
.head2{
    font-weight: bold;
    font-size: 1.0em; 
    margin: 10px auto 0;
    color: #BD00FF; 
    background-color: white; 
    border-radius: 25px;
    padding: 10px;
    width: 850px;
}

.container {
    background-color: white;
    content: '';
    height: 21rem;
    width: 45rem;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 2fr;
    gap: 0 2rem;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        "logo quota average"
        "logo quota-num average-num"
        "logo quota-num average-num";
    z-index: -5;
    position: relative;
    margin: 20px auto;

}

.average {
    grid-area: average;
    z-index: 2;
    color: white;
}

.average>h2 {
    position: absolute;
    width: 154px;
    height: 48px;
    left: 470px;
    top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.quota {
    grid-area: quota;
    z-index: 2;
    color: white;
}

.quota>h2 {
    position: absolute;
    width: 154px;
    height: 48px;
    left: 238px;
    top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.quota-num {
    grid-area: quota-num;
    background-color: white;
    z-index: 2;
    position: absolute;
    width: 11rem;
    height: 13rem;
    border-radius: 25px;
    text-align: center;
    left: 4rem;
    top: 1rem;
}

.average::before {
    content: "";
    position: absolute;
    width: 32rem;
    height: 19rem;
    left: 12rem;
    top: 1rem;
    background-color: var(--tooltip-color);
    border-radius: 25px;
    z-index: -2;
}

.average-num {
    grid-area: average-num;
    background: white;
    z-index: 2;
    position: absolute;
    width: 12rem;
    height: 13rem;
    left: 0rem;
    top: 1rem;
    border-radius: 25px;
    text-align: center;
}

.logo {
    grid-area: logo;
}

img {
    position: absolute;
    width: var(--image-width);
    height: var(--image-height);
    left: 2rem;
    top: 5rem;
}