header {
  padding-left: 2rem;
  left: -1.3rem;
}
.column.left {
  height: 65%;
  margin-top: 5rem;
}

@media screen and (min-width: 1024px) {
  .mainDiv {
    width: 100vw;
  }
  .calcBox {
    height: 100vh;
    display: flex;
    width: 85%;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin-top: -2rem;
    align-content: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .calcBox {
    height: auto;
    width: auto;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .column.left {
    height: 50%;
    margin-top: 5rem;
    width: auto;
  }
  .column.right {
    width: auto;
  }
}
