@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@400;500;700;800&display=swap");

:root {
  --main-color: rgba(0, 0, 0, 0.66);
  --purpleColor: #320141;
  --lightPurpleColor: #b800be;
  --cyanColor: #44bba4;
  --lightBrownColor: #ebb9df;
}
li {
  font-family: "Recursive", sans-serif;
  font-weight: bold;
  list-style: none;
  padding: 12px;
  font-size: 20px;
}
h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.8em;
}
.center {
  text-align: center;
}

/* .loader-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    var(--lightPurpleColor),
    var(--purpleColor)
  );
  transform: translate(-1500px, -1500px);
  transition: all 5s ease;
  z-index: 9;
  animation: up 5s ease;
}
@keyframes up {
  to {
    top: -500px;
    transform: translate(-1500px, -1500px);
  }
} */

.mainDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

/* Clear floats after the columns */
.mainDiv:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .mainDiv {
    flex-direction: column;
    padding-bottom: 4.5rem;
  }
}

/* Create 2 unequal columns that floats next to each other */
.column {
  float: left;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.66);
  border-radius: 25px;
}

@media screen and (min-width: 1024px) {
  .calcBox {
    height: 100vh;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .calcBox {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .column.right {
    margin-left: 0;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .calcBox {
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem;
  }
}
.quotalists {
  background: #00000099;
  width: 100vw;
  padding-bottom: 2rem;
  padding-top: 5rem;
}
.quotalists2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 2rem;
}
/* Left and right column */
.column.left {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 8rem;
  text-align: center;
  line-height: 40px;
  padding: 10px;
  /* margin: 5px; */
}
@media screen and (max-width: 600px) {
  .column.left {
    width: 95%;
    margin-top: 3rem;
    /* margin-left: 2.5rem; */
  }
  .column.right {
    margin-left: 15rem;
  }
}

/* right column */
.column.right {
  display: block;
  width: 40%;
  margin-top: 7.5rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  padding: 40px 40px;
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .column.right {
    margin-top: 2rem;
    margin-left: 0rem;
  }
}
@media screen and (max-width: 600px) {
  .column.right {
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: unset;
  }
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

.formStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 25px;
  text-align: center;
  background-color: #00000099;
  color: black;
  border-radius: 25px;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
form > * {
  background: linear-gradient(
    45deg,
    var(--purpleColor),
    var(--lightPurpleColor)
  );
  border-radius: 10px;
  padding: 10px;
  color: white;
}
#num {
  font-size: 50px;
}

input {
  width: 150px;
  border-radius: 5px;
  border: 5px solid var(--purpleColor);
  color: white;
  /* background: linear-gradient(90deg, var(--purpleColor) 0%, var(--lightPurpleColor) 100%) */
  background-color: transparent;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  /* border: 1px solid ; */
  /* opacity: 1;  Firefox */
}
@media screen and (min-height: 630px) and (min-width: 990px) {
  body {
    height: 100vh;
  }
}

button {
  margin: 10px;
  font-size: 24px;
  color: white;
  background: var(--lightPurpleColor);
  border-radius: 5px;
  border: 5px solid var(--lightPurpleColor);
}
button:hover {
  background-color: var(--purpleColor);
  border: 5px solid var(--purpleColor);
}

.head {
  font-weight: bold;
  font-size: 1em;
  margin: 10px auto 0;
  color: #bd00ff;
  background-color: rgb(255 255 255);
  box-shadow: 4px 6px 20px 0px rgb(255 255 255 / 17%);
  border-radius: 25px;
  padding: 10px;
  margin-top: 2rem;
  min-width: 20rem;
  max-width: 50rem;
}
@media screen and (max-width: 600px) {
  .head {
    margin: 20px 15px 0;
  }
}

body > div:nth-child(7) {
  margin-bottom: 50px;
}
@media screen and (max-width: 820px) {
  div:nth-child(7) {
    margin-bottom: 6rem;
  }
  body > div:nth-child(7) {
    margin-bottom: 100px;
  }
}

.image {
  width: fit-content;
  width: -moz-fit-content;
  height: fit-content;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-img {
  background-color: white;
  padding: 20px;
  border-radius: 25px;
  width: var(--image-width);
  height: var(--image-height);
  margin: 50px;
}
.container {
  width: 20rem;
  height: 35rem;
  perspective: 800px;
}

.container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px var(--main-color);
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-color);
}

.back {
  background: var(--main-color);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

h1 {
  /* background-color: #e306ca; */
  color: white;
  border-radius: 25px;
  padding: 15px;
  /* margin: 0px; */
  font-size: 24px;
}
.list {
  background-color: var(--main-color);
  border: 2px solid var(--tooltip-color);
  color: white;
  border-radius: 15px;
  font-size: 24px;
  padding: 1.2em 7px;
  line-height: 2em;
  width: 17rem;
}
.list > div {
  border: solid var(--tooltip-color);
  border-radius: 15px;
  margin: 5px;
}
.quota-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-button {
  cursor: pointer;
  background: var(--tooltip-color);
  font-size: 20px;
  position: relative;
  top: 0.8rem;
  color: white;
  border: solid white;
  border-radius: 15px;
  padding: 5px;
}
.card-button:hover {
  background-color: transparent;
  border: var(--tooltip-color) solid 2px;
}
.company-name {
  margin-top: 25px;
  font-size: 24px;
  font-weight: bold;
  color: var(--tooltip-color);
}
.company-name2 {
  font-size: 24px;
  margin-top: 0.5rem;
}
.clickhere {
  color: yellow;
  margin-top: 1.5rem;
}
.usages {
  background-color: rgba(0, 0, 0, 0.849);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#usagestats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.usages > p,
#usagestats p {
  background: rgba(0, 0, 0, 0.856);
  max-width: 50%;
  font-size: 1.8em;
}
.usages > h2,
#usagestats h2 {
  background: white;
  color: black;
  padding: 15px;
  border-bottom: 5px solid var(--lightPurpleColor);
  border-radius: 25px;
}
.usages > ul,
#usagestats ul {
  max-width: 80%;
}
.source {
  background: black;
  border: 3px solid var(--lightPurpleColor);
  padding: 15px;
  border-radius: 25px;
}
.source > a {
  text-decoration: none;
  color: #b800be;
}
.quotalists3 {
  background: transparent;
  width: 100vw;
  padding-bottom: 3rem;
}
.tg {
  border: 20px solid white;
  border-top: 20px solid #fff;
  border-right: 20px solid #b800be;
  border-left: 20px solid #b800be;
  border-bottom: 20px solid #fff;
  border-radius: 25px;
  /* border-collapse: collapse; */
  border-spacing: 0;
  width: 40rem;
  height: 20rem;
}
.tg td {
  background-color: #ebf5ff;
  border-style: solid;
  border-width: 0px;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
  justify-content: center;
}
.tg th {
  /* background-color: #409cff;
  border-color: #9abad9; */
  border-style: solid;
  border-width: 0px;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-wnsd {
  background-color: #b800be;
  border-color: inherit;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
  font-size: 1.5em;
}

.tg .tg-7g6k {
  background-color: #ebb9df;
  border-color: inherit;
  border-bottom: 2px solid white;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
  font-size: 1.4em;
}
.tg .tg-2j8k {
  background-color: #ebb9df;
  border-color: inherit;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif !important;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
  font-size: 1.4em;
}
.usage-nav {
  background-color: white !important;
}
.usage-nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.usage-nav li {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.usage-nav a {
  text-decoration: none !important;
  color: white;
  background: #b800be;
  padding: 10px;
  border-radius: 25px;
}
.tipsul > li {
  list-style: disc;
}
